[2018-09-18 21:28] jzwart commented on #3
created function [here ](https://github.com/USGS-R/lake-temperature-process-models/blob/b20226138e2b7b96e674afe1c5f12d1cea3fb2b9/1_get_lake_attr/src/feature_to_cell_coords.R#L8-L20)

[2019-02-26 18:08] limnoliver commented on #5
The reason the missing names are corrected in pipeline 3 is because the priority lakes are identified there, which drastically reduces the missing-name-space (e.g., there are a lot of missing lake names, but we only need to/want to correct the priority lakes).

I agree that it would make more sense earlier in the pipeline, but I don't think it's logistically possible since this is a mostly manual

[2019-02-26 18:09] aappling-usgs commented on #5
Oh, I see. Yes, that makes sense. Thanks.

[2019-05-01 14:35] jzwart opened #6 "Move to GLM v3.0"
Eventually we should switch to running [GLM v3.0](http://aed.see.uwa.edu.au/research/models/GLM/latest_release.html) (and associated [paper](https://www.geosci-model-dev.net/12/473/2019/)) given there are some bug fixes and process improvements. This might create some issues with model input / output if `nml` file formats are different and if process representation affects predictions. We should h

[2019-05-03 11:59] jzwart opened #10 "Get appropriate NLDAS time along with associated x,y grid"
Right now, we grab the NLDAS x,y grid coords for each lake's driver data, but we also need the associated NLDAS_time (e.g. `0.350500` or `0.351500`). @jread-usgs how did you assign NLDAS_time when creating the drivers?

[2019-05-03 12:04] jread-usgs commented on #10
The time range is an object target here: https://github.com/USGS-R/lake-temperature-model-prep/blob/master/6_drivers_fetch.yml#L24

So if you were linked to that remake file, you could call the target. Otherwise you could hardcode it, but put a comment in that links to this part of the driver build remake file.

[2019-11-19 19:04] jread-usgs opened #14 "update the `lake_name` field"
[code]
lake_name needs to be overwritten or updated. Could use GNIS name (with "NA" if missing) or nhdhr_id.

[2020-01-18 11:09] jread-usgs commented on #14
fixed this in a past PR. Forgot to reference this issue

[2020-01-18 11:09] #14 closed

[2020-01-18 11:21] jread-usgs commented on #17
Neither of these are in one of the more final targets in the prep pipeline:
[code]
 ** switched to prep pipeline wd **
found the problem in missing Kw data:
[code]

I'm concerned that we originally had Kw data for these lakes, and then lost it in the most recent WQP. Usually we expect to _gain_ sites through time, but there are/were some lost sites when we updated.

[2020-01-18 11:30] jread-usgs commented on #17
nhdhr_86274823 is [Munson Lake](https://www.google.com/maps/place/Munson+Lake/@46.78549,-95.9086947,15z/data=!4m5!3m4!1s0x52c84f02f84dc2df:0x5f5e28f3554b3d33!8m2!3d46.7937042!4d-95.8954108)
Lake View Township, MN 56501

nhdhr_120018094 is [Gleason Lake](https://www.google.com/maps/place/Gleason+Lake/@44.9780764,-93.4936682,18z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNDTCsDU4JzIyLjciTiA5M8KwMjknMjAuMSJX!3b1

[2020-01-18 11:33] jread-usgs commented on #17
Both should have WQP sites, and those sites both should have data:
[code]

[2020-01-18 11:37] jread-usgs commented on #17
Only looking at the first, because I think I found the problem:
[code]

This is in partition 003, which is somehow an empty data.frame. Perhaps an aborted function call that was later ignored w/ a `scbless`?

[2020-01-18 11:42] jread-usgs commented on #17
I am running the entire WQP secchi workflow again, starting by deleting all of the secchi rds files in `6_wqp_fetch/tmp`, then
`scdel('6_wqp_fetch/out/wqp_secchi_data.rds.ind')`, then updating the dummy date in the fetch, and then
`scmake('6_wqp_fetch/out/wqp_secchi_data.rds.ind')`

[2020-01-20 13:34] jread-usgs commented on #17
this issue is covered here: https://github.com/USGS-R/lake-temperature-model-prep/pull/121

[2020-01-26 15:42] jread-usgs opened #19 "switch to SB release files as source"
Instead of local files that are targets/outputs from the prep pipeline

[2020-03-16 12:36] jread-usgs commented on #6
Now we've made the switch, but haven't done a comprehensive evaluation of uncalibrated performance.

[2020-03-20 11:35] jread-usgs commented on #6
also completed in #21

[2020-03-20 11:35] #6 closed

[2020-03-20 11:36] jread-usgs commented on #10
Times come from our use of `'../lake-temperature-model-prep/7_config_merge/out/nml_list.rds'` now

[2020-03-20 11:36] #10 closed

[2020-04-29 11:58] jread-usgs opened #23 "Examine outlier transfer modeling results"
We are looking at the 4 worst transfer models, based on comparisons to `pb0`, which don't see any data.

`nhdhr_45730856` is [Lake Union in MN](https://www.google.com/maps/place/45%C2%B015'10.9%22N+94%C2%B015'39.4%22W/@45.2530218,-94.2631227,17z/data=!3m1!4b1!4m14!1m7!3m6!1s0x52b520d4bd74b0f9:0xae91bd1f334ca2a7!2sMeeker+County,+MN!3b1!8m2!3d45.1353179!4d-94.5150543!3m5!1s0x0:0x0!7e2!8m2!3d45.25301

[2020-04-29 12:09] jread-usgs commented on #23
`nhdhr_60087894` is [Bear Lake in MI](https://www.google.com/maps/place/44%C2%B042'00.0%22N+84%C2%B054'00.0%22W/@44.732192,-84.9540304,4912m/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d44.7!4d-84.9)

I didn't see any oddities in the observations (or really the model...) other than missing the hypolimnetic temperature by quite a bit and missing some of the temperatures.

[code]

![image](https://user-ima

[2020-04-29 12:15] jread-usgs commented on #23
Here is GLM (`pb0`) from that lake ☝️
[code]
![image](https://user-images.githubusercontent.com/2349007/80594673-0efbf500-89e9-11ea-9680-687187ad2892.png)

I wouldn't say it is doing any better...seems to run into the same issues with bias, but it clearly has warmer surface temperatures (which is interesting...)

[2020-04-29 12:36] jread-usgs commented on #23
`nhdhr_82815984` is [Hamlin lake](https://www.google.com/maps/place/Hamlin+Lake/@44.0473747,-86.4660259,19880m/data=!3m2!1e3!4b1!4m13!1m7!3m6!1s0x0:0x0!2zNDTCsDAzJzA4LjYiTiA4NsKwMjcnMTEuMSJX!3b1!8m2!3d44.05239!4d-86.45307!3m4!1s0x881c3d5a56b9f139:0xd164453ba60610dd!8m2!3d44.0557351!4d-86.4642666), which we already covered in an email. It also has a max depth issue too - seems our models go to 9.5m

[2020-04-29 12:48] jread-usgs commented on #23
is [Lake Sallie in MN](https://www.google.com/maps/place/Lake+View+Township/@46.771802,-95.9050416,4736m/data=!3m2!1e3!4b1!4m13!1m7!3m6!1s0x0:0x0!2zNDbCsDQ2JzE2LjEiTiA5NcKwNTMnNDQuOCJX!3b1!8m2!3d46.77114!4d-95.89578!3m4!1s0x52c84ef4be23cd99:0x7966d9ad72628962!8m2!3d46.7732134!4d-95.8925881)

[code]
So, looks like the modeled hypolimnion is _much_ colder than observed.

![image](https://user-images

[2020-04-29 13:33] aappling-usgs commented on #23
Hamlin Lake depth: the bathy info that @jzwart found (https://www.hamlinlakepreservation.org/History/2010/19/Analytical/Bathymetry/Images/JPG/Depth/HamlinLakeBathymetryUpperHalfLowerLakeSection_30x36_300dpi.jpg) says that the upper basin is 39 feet (11.9 m) and the lower basin is 88 feet (26.8 m). Maybe the model is going to the depth of the upper basin (minus a couple of feet for dry years?)

[2020-04-29 13:44] aappling-usgs commented on #23
For Lake Sallie, I like your lead on checking into the units - if they were measuring in ft but mislabeled them m, that could explain why the observations labeled as very deep have more shallow-looking temperatures.

One possible check would be to look for observations at deeper depths than those present in GLM (or expected based on lake depth) - if there are a lot of those, it seems likely they j

[2020-04-29 14:03] aappling-usgs commented on #23
For Lake Union, I wondered whether the hydrology might have changed substantially, but I don't see much obvious change in the timelapse images available at https://earthengine.google.com/timelapse/ (search for "Lake Union, MN, USA")
<img width="487" alt="image" src="https://user-images.githubusercontent.com/12039957/80605037-825d3100-8a00-11ea-894c-546bf833e0c1.png">
<img width="487" alt="image" s

[2020-04-29 18:27] jread-usgs commented on #23
@limnoliver How easy would it be to change `source` on the WQP data from `wqp` to `wqp-{montoring_id}` or `wqp-{organization_id}`? That might help us track down data issues in cases like this (Lake Sallie)

[2020-04-29 18:40] limnoliver commented on #23
Pretty easy I think. `source_id` tracks that info, and it doesn't get [dropped until late](https://github.com/USGS-R/lake-temperature-model-prep/blob/de70397869098abbf2a29880f919df911d707f80/7b_temp_merge/src/merge_all_temp_dat.R#L267-L268) in the munge process.

[2020-04-29 20:44] jread-usgs commented on #23
@limnoliver can you tell me the difference between source_id and source_site_id? I see they are different for coop files, but seem all the same for WQP data.

[2020-04-29 23:23] limnoliver commented on #23
For cooperator files, the `source_id` was the source's unique ID for the lake. `source_site_id` was the site within the lake, if it was populated. For WQP this is the same since the data from WQP itself does not have sites nested within water bodies, but rather unique site IDs.

[2020-04-30 10:57] jread-usgs commented on #23
Thanks Sam.

For Lake Sallie, all of the observations in the WQP come from MN PCA, and all come from the same monitoring location (`MNPCA-03-0359-00-201`)
I set a debug line in `reduce_temp_data()` and did this:
[code]

[2020-04-30 11:26] jread-usgs commented on #23
Our initial WQP sites suggest we've got two PCA sites within the lake (but perhaps one gets dropped due to data issues)

[code]
![image](https://user-images.githubusercontent.com/2349007/80703801-1387e280-8aa9-11ea-98d2-7ae12377fb25.png)

and (ignore resultCount)
[code]

This requires the local task table results to run, but:
[code]
These ☝️ are in meters, and the units look right, but they look l

[2020-04-30 11:40] jread-usgs commented on #23
For completeness, the only other thought I had was that the clarity value might be way off for this lake, since a clearer lake would have warmer hypo temps. But the Kd value in _this_ set of sims is `0.726`
[code]
and this happens to be a lake in our TOHA collection too, and there the average of the GAM timeseries for Kd isn't that far off
[code]
I find this lake confusing

[2020-04-30 11:51] jread-usgs commented on #23
Geez, am having trouble letting this go!

Ok, since this lake (Sallie) is in our time-varying-GLM3-toha collection, I used the same plotting code to look at the GLM3 outputs, which look a lot closer to observed for this lake:

![image](https://user-images.githubusercontent.com/2349007/80706769-79c33400-8aae-11ea-9a21-f23ab86b4548.png)

these models have lower (clearer) values of Kd in the spring,

[2020-04-30 12:56] limnoliver commented on #23
Oooh - lots of [interesting history](https://www.prwd.org/water-quality/lake-monitoring/lake-sallie/) on Lake Sallie! TLDR; received sewage from Detroit Lakes in the past, a series of infrastructure upgrades has improved water quality, but still has eutrophication problems. Lots of hydrologic changes, including in 2001 when a lock and dam system was removed, which no longer allows for control of l

[2020-04-30 13:02] jread-usgs commented on #23
is there a thermal profile shown in that paper?

[2020-04-30 13:04] limnoliver commented on #23
No, and it cites a thesis from the 70s that I can't find.

[2020-05-26 10:38] jread-usgs opened #24 "Figure out why pb0_nhdhr_120019294_temperatures.feather stops in 1993"
Perhaps a silent Yeti fail or timeout?

[2020-06-08 12:30] jread-usgs commented on #24
I re-ran this and it completed...I have no idea why it didn't complete the first time around

[2020-06-08 12:30] #24 closed

[2020-06-26 20:28] jread-usgs commented on #25
This is because the PB0 driver data were mixed up :(

[2020-06-26 20:46] aappling-usgs commented on #25
Ah ha! 💡

[2020-06-26 20:48] jread-usgs commented on #25
What it looks like now (and proof to @aappling-usgs that I am continuing to ggplot 😆 )

![image](https://user-images.githubusercontent.com/2349007/85899932-891be080-b7c4-11ea-8099-b8a5ad36a041.png)

[2020-07-06 14:17] jread-usgs opened #26 "Check on some lakes in the MNTOHA modeling set"

[2020-07-06 15:09] aappling-usgs commented on #26
I don't see Lake of the Woods on Tallgrass or in my current list of 638 modelable lakes. Do you have an NHD-HR ID for that one to help me double-check? Do I need to update my source data again?

I do see Cass Lake on Tallgrass from the April 15 runs:
[code]
so the next question for that one is where it's failing to get to ScienceBase.

[2020-07-06 15:17] jread-usgs commented on #26
Lake of the Woods is `nhdhr_123319728`

I can dig in on my end too and check the data release

[2020-07-06 15:24] aappling-usgs commented on #26
I do see Cass Lake in my prep data.frames in mntoha-data-release...
[code]

Should be in Group 2:
[code]

And actually, I see Lake of the Woods in there too, searching by nhdhr:
[code]

[2020-07-06 15:29] aappling-usgs commented on #26
I think I see Lake of the Woods in the Group 1 zipfile (on my Tallgrass mntoha-data-release repo):
[code]

and here's Cass:
[code]

[2020-07-06 16:13] aappling-usgs commented on #26
I downloaded those two zip files from ScienceBase and confirmed that Cass and LotW are indeed in those files:
[code]

[2020-07-20 20:14] jread-usgs opened #27 "skip or figure out nhdhr_59746189 segfault"
Out of 7K+ GLM2 lakes, this is the only one that failed

[code]

[2021-03-25 14:08] jread-usgs opened #30 "Dig into GLM3 failing to form ice on MN lake(s)"
@lindsayplatt please add site_id and the year you ran into this. And any other details that may be relevant.

[2021-03-25 14:13] lindsayplatt commented on #30
First noticed with `nhdhr_59752541` for 2006, 2013, and 2016. Will comment with details about other sites after I rebuild the ice_on and ice_off dates with a recent fix.

![image](https://user-images.githubusercontent.com/13220910/112486887-4afb1f80-8d4a-11eb-9410-8dac0901beab.png)

[2021-04-07 18:58] jread-usgs commented on #30
See more here: https://github.com/USGS-R/lake-temperature-out/pull/55#issuecomment-809790324

[code]
Will start by taking a closer look at the worst of these.

[2021-04-07 19:05] jread-usgs commented on #30
Weird, I am seeing that `nhdhr_34133487` has some years w/o ice, but only six, not 15. But this is a simplified cut of ice/no-ice because I am using a boolean for a given cal year.

[code]

[2021-04-07 19:17] jread-usgs commented on #30
Confirmed that the exported ice flag file yields the same result
[code]

[2021-04-07 19:34] jread-usgs commented on #30
Yikes, this is indeed a function of using the calendar year instead of centering on the winter itself 😨  (note `date + 180`)

[code]

[2021-04-07 19:44] jread-usgs commented on #30
![image](https://user-images.githubusercontent.com/2349007/113924582-96341a00-97af-11eb-8ef7-bea754224e35.png)

Frustrating. Here is 0-depth temperature of the model from `nhdhr_34133487` for `2015-06-04 - 2017-05-01` with ice (blue) overlaid.

the first winter should definitely have ice and it doesn't. This is a GLM3 modeling artifact 👎

[2021-04-07 21:14] jread-usgs commented on #30
[code]
initial count for current data release is 180 total files

[2021-04-07 21:27] jread-usgs commented on #30
I noodled around with the ice params and found that `dt_iceon_avg = 0.02` seemed to address the issue and still create realistic ice-covers. Then I checked w/ Robert to see if he ran into the same thing, and he had a fancier way at arriving at `dt_iceon_avg = 0.01`, so I am implementing that in the pipeline and re-running. Will share the comparison. But in the initial lake (`nhdhr_34133487`) this

[2021-04-08 11:11] jread-usgs commented on #30
Whoops, forgot to shift the `time+180` in the year mutate, should be
[code]
which will yield different results.

[2021-04-08 16:21] jread-usgs commented on #30
Re-ran with param adjustments and now we have no trouble lakes/files. Unclear on impact to RMSE, will see next.

Current RMSE (prior to param adjustment) is 2.418358°C for 784 lakes w/ enough data to calculate.

[2021-04-08 16:36] jread-usgs commented on #30
Slight improvement 🎉  2.409192

[2021-08-25 13:18] #30 closed

[2021-12-09 00:50] hcorson-dosch-usgs opened #1 "Implement targets workflow to run GLM models"
I'm creating this as an initial overview issue, and will link to additional issues for further discussion on some of the questions I'm raising here. This is meant to capture my initial thoughts as I'm reviewing existing GLM code and thinking about how best to set up this pipeline, but please feel free to add comments/alternative approaches/additional points of consideration if I missed any. I expe

[2021-12-09 01:05] hcorson-dosch-usgs opened #2 "Approach to parallelization"
## Overarching question: To what extent do we want to parallelize this initial implementation?
_Getting down some initial thoughts for now -- please comment w/ other ideas/considerations_

1) I think the ideal scenario would be if we can set up our parallel workflow in our `targets` pipeline, so that jobs are launched by the pipeline directly, but one factor is that we don't yet have a working exa

[2021-12-09 01:10] hcorson-dosch-usgs opened #3 "Where should we add the meteo file information to the nmls?"
Somewhere along the line we'll need to include the meteo file information in the nml.

We could do that in `lake-temperature-model-prep`, though that workflow is already set up [for NLDAS](https://github.com/USGS-R/lake-temperature-model-prep/blob/main/7_config_merge/src/munge_lake_info.R#L179-L200)
![image](https://user-images.githubusercontent.com/54007288/145315892-b3372695-1b21-4f2b-9b21-95cf1

[2021-12-09 01:15] hcorson-dosch-usgs opened #4 "Transferring files generated in lake-temperature-model-prep to Caldera"
How do we want to get files generated in `lake-temperature-model-prep` that we need for this pipeline (e.g., `7_config_merge/out/nml_list.rds`, final GCM netCDF files) to Caldera?

We could:
* Generate them locally and then manually copy them to Caldera 😬
* Generate them locally, push to S3, and then pull to Caldera
* ? Other options?

[2021-12-09 01:19] hcorson-dosch-usgs opened #5 "Update shifter image on Denali to latest version of GLM, after initial testing"
Once we have a functioning workflow on Denali, we'll want to update [the shifter image that David and Alison created for the reservoir modeling](https://code.usgs.gov/wma/wp/res-temperature-process-models/-/blob/main/README.md#L22-40) to the latest version of GLM (it's now version 3.1), or just make a new image, if that is easiest.

[2021-12-09 17:42] jordansread commented on #3
I'd suggest writing the `meteo_fl` value to the .nml file right at runtime for GLM, and fill ahead of time with something that will definitely thrown an error if we try to model with it, such as "NULL". Or leave the `meteo_fl`out of the nml list.

Reason being, the nml (file) or the nml list (object) will be tracked in targets and will contain a value for the meteo file location (unless we remove

[2021-12-09 21:03] jordansread commented on #4
I've used globus to do this when pushing local->caldera, which seems to work pretty well. Is that an option here too?

I think others were also evaluating globus SDK, which is a programmatic way to use globus.

[2021-12-10 15:12] hcorson-dosch-usgs commented on #4
Looks like globus SDK is currently [only available for python](https://www.globus.org/blog/introducing-sdk-and-cli), but I think using globus to do a manual push would work well for now. I haven't used it before, not sure if @lindsayplatt has -- looks like HPC does have [some instructions](https://hpcportal.cr.usgs.gov/hpc-user-docs/Yeti/Guides_and_Tutorials/how-to/Transfer_Data.html), though I th

[2021-12-10 15:14] lindsayplatt commented on #4
I am not very familiar with globus, but I know that Jake Zwart has used it. We might be able to ping him for some brief guidance.

[2021-12-10 15:22] lindsayplatt commented on #2
Initial goals with these GLM projections are to get MN-only. Scaling to the whole footprint is a goal for later in FY22. @hcorson-dosch and @jread-usgs - do either of you have thoughts on the _need_ to figure out parallelization for our MN-only goal, or saving that research task for when we scale up (since the rest of the pipeline coding should handle our bigger scale and we wouldn't have much oth

[2021-12-10 15:43] hcorson-dosch-usgs commented on #3
@jread-usgs - Okay I'll plan on writing at run-time then, and also implementing Alison's approach. @lindsayplatt I think that means we'll need to export the [`lake_cell_xwalk_df`](https://github.com/USGS-R/lake-temperature-model-prep/blob/gcm_driver_data_munge_pipeline/_targets.R#L63) target from lake-temp-model-prep as a .csv, so that I can pull it in to this repo and use it for both branching an

[2021-12-10 15:47] jordansread commented on #4
Awesome! That seems like a useful future feature

[2021-12-10 16:23] jordansread commented on #2
I have to admit I am surprised that parallel compute with targets doesn't come along for free. I thought that was one of the selling points for the package, but I don't think I was following as carefully as needed. Bummer. But I bet we can figure it out, just will need additional effort I wasn't factoring in.

- sbatch: I've run past GLMs on Yeti using sbatch with array-based model runs. This work

[2021-12-10 16:36] lindsayplatt commented on #2
So parallelization would be ideal and Jesse may be helping us out with a small working example!

Yes, I believe it was. We didn't actually test out the features when reviewing but read through the package documentation and the entire section that is [available in the user manual](https://books.ropensci.org/targets/hpc.html). I think we are not sure about it only because no one has actually used th

[2021-12-10 17:18] hcorson-dosch-usgs commented on #2
@jread-usgs  - I don't know if the shifter container slows the runs down, as I ended up doing all of the DRB reservoir work locally, but it looks like Alison was thinking it could be slower in the README.md notes [here](https://code.usgs.gov/wma/wp/res-temperature-process-models/-/blob/main/README.md#L153)

[2021-12-15 03:32] hcorson-dosch-usgs opened #7 "How do we want to combine the GLM output?"
As of now, I'm simply combining the output from each of the three time periods (1980-1999, 2040-2059, and 2080-2099) for each lake for each set of GCM driver data, as outlined in #6, which lands us with 6 output feather files per lake. But I realized that we haven't discussed how we'll want to package it up for delivery to Gretchen. Do we want it broken out by GCM like this, or do we want to ensem

[2021-12-15 21:41] hcorson-dosch-usgs opened #8 "Need to programmatically pull GLM version"
We'd like to be able to programmatically extract the GLM version and include it in the diagnostic tble we return from our model runs.

the function `GLM3r::glm_version()` returns a message, and the value `0`:
[code]

Jordan did some digging, and realized we could set `stdout=TRUE` to have the output [go to the  assignment value](https://github.com/GLEON/GLM3r/blob/e8eec85872fabb17a1d6a132cae4ff8fc

[2021-12-15 21:52] jordansread commented on #8
First part of this doesn't require us to make the decision as to where we solve the problem (this repo vs the `GLM3r` pkg itself). We need to figure out how to extract `"3.1.0a4"` from `"    |  General Lake Model (GLM)   Version 3.1.0a4         |"`

After that we'll check back in with GLM3r devs/users to see if this feature would be useful to others and welcomed as an update to the pkg. I think it

[2021-12-15 21:54] hcorson-dosch-usgs commented on #8
Oh ok - I can tackle that regex, then, if you like.

[2021-12-15 21:56] jordansread commented on #8
Sorry, I was just stating how I'd approach the problem. I'm good with taking it on.

[2021-12-15 22:10] jordansread commented on #8
[code]
Seems to do it. That would be a solution for the pipeline since we don't care about the stringr dependency. But that won't work for `GLM3r` pkg since we don't want to add other dependencies without a really good reason.

[code]
Fails for me but not sure why it is capturing more or less than one thing

[2021-12-15 22:19] jordansread commented on #8
In base R:
[code]

[2021-12-15 22:45] jordansread commented on #8
@hcorson-dosch this seems to be what we'd want: https://github.com/jread-usgs/GLM3r/commit/830d04ac5b29ca831cbea8ec98026190c331acd8

[code]

[2021-12-15 22:49] hcorson-dosch-usgs commented on #8
Great! should I go ahead and add this into my PR?

[2021-12-15 23:25] jordansread commented on #8
Sure - would you be adding the `glm_version(as_char = TRUE)` to your PR in that `tibble` and suggesting a GH install, or would you add the whole GLM3r change to the PR? I think I'd recommend the former, keeping this in GLM3r, and I can do a PR on that repo and also up the package version so it is clear what needs to be installed (and eventually, what needs to be in the shifter container). But let

[2021-12-15 23:29] hcorson-dosch-usgs commented on #8
Oh, gosh, I'm sorry. I was referring to adding the regex only, but I was forgetting my own note about the glm path 🤦‍♀️.

I can add either a) add `glm_version(as_char = TRUE)` and suggest a GH install, or b) leave my PR as is, and we can wait to add that to the tibble once the change is PR'd into GLM3r.

[2021-12-15 23:44] hcorson-dosch-usgs commented on #6
Okay, I think I've addressed all of your comments, except for adding in the glm version to the export tibble, which is being handled here #8.

@lindsayplatt  note that I removed `iteration='list'` for the `p1_nml_objects` target b/c I realized we didn't need it as we never map over that target.

[2021-12-15 23:44] hcorson-dosch-usgs commented on #6
and THANK YOU for such helpful reviews -- I really enjoyed working through this today and making this pipeline better and more robust!

[2021-12-15 23:47] hcorson-dosch-usgs commented on #6
Oh and @jread-usgs I do think it would be good for you to run this pipeline yourself, to triple check the GLM pieces. All the files you should need to do so (for the `1_prep/in` and `1_prep/tmp` directories) are saved [here](https://doimspp.sharepoint.com/:f:/r/sites/IIDDStaff/Shared%20Documents/Project%20-%20Modeling%20Lakes/GLM/lake-temperature-process-models?csf=1&web=1&e=w4FAvu)

[2021-12-15 23:53] hcorson-dosch-usgs opened #9 "Pipeline hanging on builds?"
I noticed today while building the pipeline repeatedly that it was hanging on builds of `p2_glm_uncalibrated_runs` and `p2_glm_uncalibrated_output_feathers` -- i.e., starting to build targets but then hanging and not printing the typical build statements. In most cases, it would eventually print out a bunch in a row and sucessfully complete the build, but a few times I had to stop the build and ca

[2021-12-16 00:09] jordansread commented on #8
I think keeping your PR as-is and leaving this issue open until we resolve it would be good. We'll get a sense if others are interested in this functionality soon

[2021-12-16 12:09] jordansread commented on #6
Cool - those files worked :tada:

Two quick things I ran into when running locally:
- the disable evap flag is set to false, which means these sims are probably going to lose water and dry up over time (see below)
- I think the driver feather files are intentionally small (looks like less than a total year of data). This causes the "burn-in" and "burn-out" function to act funky and add `NA`s at th

[2021-12-16 13:50] jordansread commented on #9
My builds seemed to work fine on #6, but I was routinely failing on one of the runs
![image](https://user-images.githubusercontent.com/2349007/146383970-f0f18283-8f8c-426a-a047-2bed609b4ad5.png)

I was assuming that was related to missing a meteo file for that lake or something.

[2021-12-16 14:41] jordansread commented on #8
Merged here https://github.com/GLEON/GLM3r/pull/24

[2021-12-16 15:07] hcorson-dosch-usgs commented on #9
That means that one of the glm runs for that lake - gcm combo failed, since failing means `meteo_fl` and `meteo_fl_hash` are both set to NA in `p2_glm_uncalibrated_runs`, which then means the `p2_glm_uncalibrated_output_feathers` branch for that lake-gcm combo can't be built. Have you checked the `p2_glm_uncalibrated_runs` tibble to see if there was a failed run noted in there?

[2021-12-16 15:29] jordansread commented on #9
Yes, I seem to have a failed run
[code]

![image](https://user-images.githubusercontent.com/2349007/146400146-fe8201fe-27af-42e5-993b-352ab4258ba6.png)

[2021-12-16 15:31] hcorson-dosch-usgs commented on #9
ohh weird, but the `glm_code` is 0 which should only be the case if it's successful 🤔. You may have turned up a bug.

[2021-12-16 15:34] jordansread commented on #9
the code isn't totally reliable as a measure of whether the models fully ran. I think you can get a 0 if the model doesn't make it all the way through the simulation period, for example. I used to check this by verifying the end of the time period of the .nc file lined up with the final date of in the `nml` in `stop`. Could be that issue(?)

[2021-12-16 15:39] hcorson-dosch-usgs commented on #9
Ah, that's really good to know. Yes sounds like we might need a more robust check of whether the run was successful. But what's odd here is that that `export_fl` name should _I think_ only have been set to NA (i.e. reached the error function of the tryCatch) if the code _was not_ 0), so I'll need to think through how that might have happened when I get the chance later.

[2021-12-16 17:23] hcorson-dosch-usgs commented on #6
Thanks @jread-usgs  -- I was wondering about that `disable_evap` parameter.

And yes, the driver data periods are super short right now. I'll add a catch to that burn in, to check if the the driver data length is < the burn-in or burn-out period.

[2021-12-17 17:52] hcorson-dosch-usgs commented on #6
I think your hunch that NAs do funky things to the temperatures was correct. With `disable_evap` set to `.true` and a catch to only add burn-in/out if the requested periods are <= the length of the meteo data, the results are looking much better:
![image](https://user-images.githubusercontent.com/54007288/146587126-8000f1cb-b2eb-46f7-a5ee-e1d5c4063fcc.png)

[2021-12-20 21:13] #8 closed, assigned to jordansread

[2021-12-20 21:59] hcorson-dosch-usgs opened #11 "Remove burn-in and burn-out periods before combining output"
Before making the final feather files (currently being done for each lake-gcm combo), remove the glm output for the burn-in and burn-out periods associated with each of the 3 time periods.

[2021-12-22 19:52] hcorson-dosch-usgs commented on #5
For the most recent GCM projections work Jordan was using version `3.2.0a3`. However, there are no tags or releases on the [AquaticEcoDynamics github](https://github.com/AquaticEcoDynamics/GLM/tags) beyond 3.1. When Jordan is back from leave we'll need to confirm with him how to access that version of GLM.

[2021-12-31 00:21] jesse-ross commented on #2
Some updates:

1. `targets` parallelization does not easily currently support processing in containers while the recommended clustermq is the parallelization backend. There is some talk among the developers of this coming down the pike in perhaps the coming year.
2. We can use clustermq/slurm as a parallel backend for targets without containerization, but this requires some libraries which aren't

[2022-01-04 16:54] hcorson-dosch-usgs commented on #11
Closed by #12

[2022-01-04 16:54] #11 closed, assigned to hcorson-dosch-usgs

[2022-01-05 17:16] hcorson-dosch-usgs commented on #7
@jread-usgs - pinging you again here, since Lindsay and I are starting to think ahead about the data release and how we'll want to package up and share our results with Gretchen & co through the SB item before the data release is finalized.

[2022-01-05 17:40] hcorson-dosch-usgs commented on #1
Closing this mega-issue, since we now have a functional `targets` GLM pipeline that runs models for each lake for each time period, thanks to #6 , #10 , and #12, and runs those models in parallel, thanks to Jesse's docker container and #14. Some of the related issues (#4 and #5) will remain open.

[2022-01-05 17:40] #1 closed, assigned to nobody

[2022-01-05 17:45] hcorson-dosch-usgs commented on #3
Closing this issue, since it was resolved in #6 - we're using a model configuration target to track the [names and hashes](https://github.com/USGS-R/lake-temperature-process-models/blob/main/1_prep/src/build_model_config.R#L18-L19) of the input meteo data, [setting the `meteo_fl` value to NULL](https://github.com/USGS-R/lake-temperature-process-models/blob/main/1_prep/src/munge_nmls.R#L38-L39) whe

[2022-01-05 17:45] #3 closed, assigned to nobody

[2022-01-05 17:49] hcorson-dosch-usgs commented on #2
Thanks so much Jesse, for setting this all up! I've got the latest feather files up on Denali, and everything is running smoothly and very quickly, which is great. One note is that there will actually be 18 models per lake (6 GCMs * 3 time periods), so we'll be looking at 1/9 * 6 * 3 * 8000/80/60 = ~3.3 hours of processing time if the rate of performance holds, but that still seems very reasonable

[2022-01-05 17:52] hcorson-dosch-usgs commented on #5
@jread-usgs - pinging you here now that you're back. Our current shifter image that @jesse-ross created is using the latest AquaticEcoDynamics release. Did you want us to use a more recent version, and if so, how do we access it?

[2022-01-05 18:44] jordansread commented on #5
This is pretty hacky, but because they aren't reliably doing releases, I've been using changes to [this file](https://github.com/AquaticEcoDynamics/GLM/blob/eb6ca67140ea2e39c866e3fd917e674387ef4b95/src/glm.h#L38) with [history](https://github.com/AquaticEcoDynamics/GLM/commits/eb6ca67140ea2e39c866e3fd917e674387ef4b95/src/glm.h) to pull the repo from a given commit when the version was updated.

[2022-01-05 19:11] hcorson-dosch-usgs opened #15 "In test GLM runs, lakes are losing water"
We are currently running the GLM models for each of the 3 time periods for a set of [5 test lakes](https://github.com/USGS-R/lake-temperature-model-prep/issues/254). As of right now, the driver data we are using to run those models is incorrect for 2 reasons: 1) the [feather files](https://doimspp.sharepoint.com/:u:/r/sites/IIDDStaff/Shared%20Documents/Project%20-%20Modeling%20Lakes/GLM/lake-tempe

[2022-01-05 20:01] jordansread commented on #15
Yes, this is a bit of a flag because that looks like the kind of thing we'd see when evap > precip over time. And with evap being locked at zero, I'd expect the lake level to stay put.

It looks like the model is ignoring the `disable_evap` arg, or perhaps in the written nml file it for some reason is missing (perhaps the whole block starting with `&debugging`) but that seems unlikely. Easier to c

[2022-01-05 20:05] hcorson-dosch-usgs commented on #15
That nml file content I inserted above is from the nml file written to the simulation directory (I commented out [the line that deletes those directories](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run/src/run_glm3.R#L94) for the moment), so I don't think that is the issue. I had taken a look at the driver data to see if there was anything obviously wrong previously, but

[2022-01-05 20:08] hcorson-dosch-usgs commented on #5
Ok so looks like the latest there is version `3.2.0a6`. I believe you tried that version for the initial GCM projections work, but were running into issues, so reverted to `3.2.0a3`. Which version would you like us to use for the MN set of projections?

[2022-01-05 20:14] jordansread commented on #5
given what we know now, `3.2.0a3` is best to use. But it would be great if our container recipe gave us the flexibility to move to a different version (or commit/tag) for GLM in the future. Unless #15 turns up an issue with this version not recognizing the param...

[2022-01-05 20:18] hcorson-dosch-usgs commented on #5
I should note that for #15 I'm running GLM locally, and using version `3.1.0a4`

[2022-01-05 20:23] jordansread commented on #5
Good to know. The `disable_evap` param has been exposed since v3.0, so it should be working the same(?) for any version at or above that. But this is a funky result and I can add some more thoughts on the other issue specific to the evap question.

[2022-01-05 20:54] hcorson-dosch-usgs commented on #5
whoops wrong issue

[2022-01-05 21:01] hcorson-dosch-usgs commented on #15
Okay took a look again at the biased GCM meteo data, and while there aren't any obviously weird trends in the data, I think we do have some units issues. Here's how the unbiased GCM data compares to NLDAS data used for the DRB reservoir modeling:

| GLM driver input | [Units needed by GLM](https://gmd.copernicus.org/preprints/gmd-2017-257/gmd-2017-257-manuscript-version3.pdf) - see table at p59 |

[2022-01-05 21:17] jordansread commented on #15
Good find(s). Perhaps the precip alone explains the decline, but we'll see.

Scary thought on relative humidity for NLDAS, but I'm convinced the comment on that row is a carryover from the v1 of the model, since all modern examples use RH as 0-100. For example, these files which are available as example simulations from the model developers: https://raw.githubusercontent.com/AquaticEcoDynamics/GLM

[2022-01-05 22:12] hcorson-dosch-usgs commented on #15
Woohoo! Converted rain and snow to m/day from kg m-2 s-1, and re-ran the models, and this is now the result for that same model run:
![image](https://user-images.githubusercontent.com/54007288/148296742-b341354c-dce2-4f3b-954e-cdb14a3c6cb7.png)

[2022-01-05 22:43] jesse-ross commented on #5
Rebuilding with `3.2.0a3` is easy to do in theory but I'm running into some snags. That version won't compile because it's trying to use a function from [AquaticEcoDynamics/libplot](https://github.com/AquaticEcoDynamics/libplot) which doesn't yet exist in the version I'm pinned to. The thing is, I don't know why I'm pinned there. I'm blindly following [Alison's build script](https://github.com/aap

[2022-01-06 12:13] jordansread commented on #5
Thanks Jesse - my build script is similar to that, but I wasn't pinning the version of libplot. I agree that building from current sources is probably our best option at this point since there isn't a pattern of tagging in those repos.

[2022-01-06 12:14] jordansread commented on #15
Nice!!

[2022-01-06 12:25] jordansread commented on #7
For now, I'd suggest we punt and plan to use feather files for each lake/GCM combo. In a future discussion, I'd like to propose a new data release format that uses netcdf discrete sampling geom to put all of the lakes in a single file, like we did with Jared's EA-LSTM data release. Do do so, we'd need to address one challenge with depth but there are options for that. The reason I don't think we s

[2022-01-06 16:40] hcorson-dosch-usgs commented on #5
Great - thank you for all this work, Jesse. I'll test out those `3.2.0a3` and `3.2.0a8` shifter images on Denali with our workflow.

I think it's fine to hold off on committing the container recipe for a few days while you're reviewing best practices for managing our containers.

[2022-01-06 16:48] hcorson-dosch-usgs commented on #7
Okay, thanks Jordan. At the moment the output is also in wide format, and the lake id and GCM name are included in the file name, but not as columns. @jread-usgs , @lindsayplatt do you think we should move to long format and/or include the identifying info in columns in addition to in the file name, or is that not worth the increase in file size?
![image](https://user-images.githubusercontent.com/

[2022-01-06 16:57] jordansread commented on #7
My preference would be to stick with the wide format so we stick to the prior format until we've had a chance to talk about whether a change from that would be worthwhile.

[2022-01-06 17:30] lindsayplatt commented on #7
We've also had a previous pattern of using the filenames to distinguish different model outputs (like with GLM vs PGDL outputs), so I don't think it is unusual to continue to do that.

[2022-01-06 18:01] hcorson-dosch-usgs commented on #5
Alright - so far, the model runs on Denali are failing with the `3.2.0a3` shifter image (Jordan, the glm_code is 0, so the error function of the TryCatch is being triggered by the `max_output_date` parameter, which is [returning as NA](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run/src/run_glm3.R#L188) which means it can't be extracted), but running fine with the `3.2.0a

[2022-01-06 19:25] hcorson-dosch-usgs commented on #5
Okay if I remove the line to delete the simulation directories and then manually try to run a model for one of the simulation directories, I get this error (looks like what Jesse was getting):
[code]

[2022-01-06 19:50] jordansread commented on #5
I think the model can still run without that flag, but I could be wrong. The PATH warning though makes me wonder if you are working off of a version of GLM3r prior to this PR: https://github.com/GLEON/GLM3r/pull/20. If you have pkg version 3.1.18 for GLM3r, then you are current and would include that update.

[2022-01-06 21:50] hcorson-dosch-usgs commented on #5
I think the version of `GLM3r`  must be = `3.1.18` because I was able to run the command `GLM3r::glm_version(as_char = TRUE)` in both the `3.2.0a3` and `3.2.0a8` shifter images. I've been waiting for an allocation to check for >1.5 hours, so will confirm when I get that allocation.

[2022-01-06 22:43] jesse-ross commented on #5
Yes, it's GLM3r 3.1.18 for both of those images (if you have docker installed, this can be tested locally without needing to wait for HPC resources).

[code]

[2022-01-07 14:13] jordansread commented on #5
ahh, yes. I see Jesse's dockerfile is building from the current/canonical GLM3r repo while Alison's was installing from a fork. All good!

[2022-01-07 15:36] hcorson-dosch-usgs commented on #9
Closing this issue b/c it doesn't seem to have persisted and we've added in addition checks to confirm that the run was successful in #10

[2022-01-07 15:36] #9 closed, assigned to nobody

[2022-01-07 15:42] hcorson-dosch-usgs commented on #7
Closing this issue since we landed on sticking with the [current approach](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run.R#L18-L37) of saving the wide-formatted data in a feather file for each lake/gcm combo (6 feather files per lake), with the lake id and gcm name in the filename.

[2022-01-07 15:42] #7 closed, assigned to nobody

[2022-01-19 20:39] hcorson-dosch-usgs commented on #15
Closing this, as issue is resolved with use of new munged, unbiased GCM data (see [`lake temperature-model-prep` PR #276](https://github.com/USGS-R/lake-temperature-model-prep/pull/276))

Example of output for `nhdhr_122549068` using GCM GFDL in all three time periods:
![image](https://user-images.githubusercontent.com/54007288/150208914-40636f15-ca17-4e0a-92a4-52ec7a4d2d18.png)
![image](https://u

[2022-01-19 20:39] #15 closed, assigned to nobody

[2022-01-24 17:03] hcorson-dosch-usgs commented on #2
Ok last week I started testing the expansion of the GLMs to all of MN, with [the new unbiased, munged GCM data](https://github.com/USGS-R/lake-temperature-model-prep/pull/276). That's a build of 18 models per lake (6 GCMS * 3 time periods) for 3583 lakes, or 64494 model runs. I'm building the `p2_glm_uncalibrated_runs` target in parallel with `tar_make_clustermq(p2_glm_uncalibrated_runs, workers=7

[2022-01-24 17:17] jordansread commented on #2
Interesting evaluation and information in here, @hcorson-dosch. Nice work.

The worrisome flag I see here is that each model is taking one minute to run. This is similar to some challenges I've run into on Yeti with GLM runs, where I needed to run on the UV partition (HPC) instead of normal because normal had extremely slow model runs even w/o use of containers. Unfortunately, 1 minute model runs

[2022-01-24 17:58] jesse-ross commented on #2
@hcorson-dosch were both of the file errors the same "Not an Arrow file" error that we saw? There have been some issues with caldera recently and I'd like to eliminate them as a possible cause of this.

[2022-01-24 18:00] hcorson-dosch-usgs commented on #2
Jesse - yes, the two branches that errored errored with the same `not an Arrow file error`

[2022-01-24 18:43] hcorson-dosch-usgs commented on #2
Okay so one odd discrepancy is that even though the second part of that test run (kicked off once I had implemented `error = 'continue'`, which meant that `targets` picked up with the failed model run, which was model run 36760/64494) took ~6 hours of clock time, it reported that it took 11989 seconds, which comes out to ~3.3 hours for 27,735 model runs:
![image](https://user-images.githubusercont

[2022-01-24 19:11] jesse-ross commented on #2
That's interesting. I was thinking about this a bit more as well, and one thing I don't know is whether there's a great deal of variation in how long it takes to do a single GLM model. Is it possible that there are some disproportionately complex lakes, or something else to make the process sometimes be much slower? A way to get at this (and to have another view into the total time) would be to ha

[2022-01-24 19:13] hcorson-dosch-usgs commented on #2
I actually have the glm run time stored in the output tibble from the model runs -- will pull stats for it after this next set of model runs.

[2022-01-24 19:30] jordansread commented on #2
My experience is that there is surprisingly little variability among model runs, even when running a deep vs shallow lake. I think that could be due to the model simulating a lot of unused layers (you set "max layers" and that is what is used and carried out in the output .nc file). Hayley may be seeing something different though, like an edge-case model getting hung up for a long time.

[2022-01-24 19:59] lindsayplatt commented on #2
Chiming in just to say that the two arrow files that were corrupted have been fixed. Was just a weird fluke and is resolved now.

[2022-01-24 20:19] hcorson-dosch-usgs opened #17 "Failed runs upon scaling up to MN"
Just starting an issue to document and work through failed GLM runs when testing all of the unbiased, munged GCM data for all MN modelable lakes (3583 lakes, 64494 model runs)

[2022-01-24 20:24] hcorson-dosch-usgs commented on #17
Just ran for the first 556 lakes in `p1_lake_cell_xwalk_df` (10,008 model runs). Got 76 failed runs associated with 5 lakes, 4 of which failed on all 18 runs associated with that lake:
![image](https://user-images.githubusercontent.com/54007288/150858404-19522c08-bb77-4200-9c04-f2d2d43fdd35.png)
cell numbers associated with those lakes:
![image](https://user-images.githubusercontent.com/54007288/1

[2022-01-24 20:26] hcorson-dosch-usgs commented on #2
Okay ~10,008~ **9000** (realized since models for the first 56 lakes had already been run it was 9000 model runs) models took 26 minutes, or ~4.9~ 4.4 model runs per minute (6 * 3 * ~556~ 500 / 79 / 26).

Here are the stats on GLM run times:
[code]

[2022-01-24 20:32] lindsayplatt commented on #2
Was the biggest change that you stopped printing messages? Or that those two files were no longer corrupted?

[2022-01-24 20:36] hcorson-dosch-usgs commented on #2
I haven't yet re-run those models - I've only run up through the first 10,008 model runs, those two runs were model runs 36761/64494 and 46289/64494, so I haven't hit them yet. So the _only_ changes have been to run smaller subsets and stop printing messages.

[2022-01-24 23:25] hcorson-dosch-usgs commented on #2
Okay, just did a fresh run of the model runs for the first 1667 lakes, so that was 30,006 new model runs. Those runs took 116 minutes or 3.3 model runs per minute (6 * 3 * 1667 / 79 / 116):

![image](https://user-images.githubusercontent.com/54007288/150879314-4786062b-b5bc-48ca-bf37-e057bc954629.png)

GLM stats:
[code]

So... things do seem to be getting a bit slower. I'm going to invalidate all

[2022-01-24 23:49] hcorson-dosch-usgs commented on #17
Okay just ran the models for the first 1667 lakes (30,006 model runs).

Stats for successful runs:
[code]

Got 384 failed runs across 24 lakes:
![image](https://user-images.githubusercontent.com/54007288/150881417-6f4bce68-d980-4250-b6b1-b30c3f54d053.png)

Looks like our 5 from above failed again, so that is consistent.
![image](https://user-images.githubusercontent.com/54007288/150881491-66e03cfe

[2022-01-25 00:14] jesse-ross commented on #2
I'm confused by these GLM stats. In your calculation above, you have a per-worker work rate of 3.3 model runs per worker-minute.

If you look at the `succeed_runs`, though, they have a mean run time of 1 job per 4.39 seconds, so from this I would calculate a per-worker work rate of 1 / 4.39 * (60 seconds / minute) = 13.7 model runs per worker-minute.

But there are only 29,622 `succeed_runs`;  ~40

[2022-01-25 17:52] hcorson-dosch-usgs commented on #2
Thanks for your questions, Jesse, as it's helping me think through what we're capturing in our export table and what we're missing.

Yes, there were 384 model runs with `glm_success == FALSE`, which indicates that the glm model failed. I didn't pull out the `glm_time_s` for those runs, but can do so from now on.

As of right now, the call to execute each glm model is made from within the [`run_glm

[2022-01-25 18:43] jesse-ross commented on #2
Cool! This is informative for how we might potentially optimize things. To me it looks like:

- the `build_time_s` is pretty similar to the `attempt_time_s`, but there's pretty consistently a second or so of execution time outside of the `retry` block
- the `attempt_time_s` is roughly double the `glm_time_s`, suggesting that the `retry` block is running on average twice-ish
- the section from indi

[2022-01-25 19:41] hcorson-dosch-usgs commented on #2
@jread-usgs - could you weigh in on whether or not it would be worth attempting to optimize further, or whether calibrating models seems feasible given the model run speeds we're seeing at the moment?

@jesse-ross for context, based on [Jordan's code to calibrate the reservoir models](https://code.usgs.gov/wma/wp/res-temperature-process-models/-/blob/main/3_run/src/run_glm3.R#L187-237) we ran w/ G

[2022-01-25 19:58] jesse-ross commented on #2
@hcorson-dosch Thanks for the explanation!

As for what I said about `attempt_time_s`, I was kind of shooting from the hip there with an assumption that building a model would be a lot more expensive than the other stuff happening in the `retry` block. Given the rarity of GLM models failing once but succeeding later, it sounds like I was probably wrong in that assumption! But if you time the model

[2022-01-25 20:09] hcorson-dosch-usgs commented on #2
See the updated table with the times from the latest run of 30,006 models [here](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1021454572)

[2022-01-25 20:31] hcorson-dosch-usgs commented on #17
Okay in [latest run of 30,006 models for `p1_lake_cell_xwalk_df` indices `613:2279`](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1021454572) 431 runs failed, associated with 24 lakes. For all but one lake, all 18 models failed, with `max_output_date` = `NA` and `glm_code` = 139 or 134. For the other lake, 17 models failed, and all of those models did pull `max_o

[2022-01-25 20:44] jordansread commented on #17
which version of GLM are you running? I think those 139 codes are seg faults

[2022-01-25 20:46] hcorson-dosch-usgs commented on #17
Version 3.1 at the moment, could switch to `3.2.0a8`, per #5

[2022-01-25 21:04] hcorson-dosch-usgs commented on #17
@jread-usgs - do you know where those glm codes are defined?

[2022-01-25 21:33] jordansread commented on #17
These codes are not defined in the model and I don't think it really does true errors. Instead it prints messages or warnings.

I think these codes are C or FORTAN error codes. I think 139 is a memory segmentation fault, but I don't know what 134 is and we've never had luck debugging these codes. But they do tend to pop up more on more brittle versions of the model.

It would be good to know if yo

[2022-01-25 22:08] hcorson-dosch-usgs commented on #17
Good idea - I'll test some of these failed runs locally

[2022-01-25 22:44] hcorson-dosch-usgs commented on #17
@jread-usgs - Alright tested these failed runs locally:
![image](https://user-images.githubusercontent.com/54007288/151071516-3a3b29bb-91e2-4785-bdc3-b146e6c09d14.png)
`nhdhr_120018569` had failed on all 18 model runs, with `max_output_date` = NA and `glm_code` = 139
`nhdhr_120020505` had failed on all 18 model runs, with `max_output_date` = NA and `glm_code` = 134
`nhdhr_120019185` had failed on

[2022-01-25 22:54] hcorson-dosch-usgs commented on #17
Hmm, not super helpful:
[code]

[2022-01-25 22:57] hcorson-dosch-usgs commented on #17
Here's one of the models for `nhdhr_120020505` that did run
[code]

[2022-01-26 11:50] jordansread commented on #17
Before digging too far into these, I'm wondering if it is time to move up versions from 3.1.0a4. I had been assuming we're going to want to use a GLM v3.2+ version of this model to run the final version, and some of these issues may be version-specific. Perhaps 3.2.0a3 (which I think had issues compiling for us?) or 3.2.0a8 would be appropriate to try out?

[2022-01-26 15:02] hcorson-dosch-usgs commented on #17
Yes I had that same thought last night - so ran all of the models again with `3.2.0a8` overnight. Will add to the table [here](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1022405070)

[2022-01-26 17:07] hcorson-dosch-usgs commented on #2
Okay here's a summary of all of the tests I've run so far. I re-ran all 64,494 model overnight, with `max_retries` set to `2` and using the `GLM 3.2.0a8` version.

Our four timing metrics for the `run_glm3_model()` function, reflected in my branch edits [here](https://github.com/hcorson-dosch/lake-temperature-process-models/blob/denali_glm_tests/2_run/src/run_glm3.R#L84-L204), are now:
  * `build_

[2022-01-26 17:17] hcorson-dosch-usgs commented on #2
The `runs_per_minute` really dropped off when I bumped the number of runs up to 64,494 yesterday. I may be thinking about this wrong, but I'm wondering if we're hitting memory issues, and if it would be better to drop the number of workers, so that more cores were free on the node at any given moment? Would that help?

Along that same line of thinking, I also don't know if this has any impact, but

[2022-01-26 17:39] hcorson-dosch-usgs commented on #17
Alright - a high level summary of the latest runs of models for 3583 lakes (64,494 model runs), run with GLM version `3.2.0a8`. See [here](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1022405070) for timing metrics and other stats. There were 959 failed runs, across 119 lakes:

[code]

For the lakes with <18 failed runs, there's a mix of:
  *  `max_output_date` =

[2022-01-26 19:32] jesse-ross commented on #2
@hcorson-dosch Memory could be an issue as we ramp up to larger numbers of workers, but ideally the number of jobs shouldn't affect the memory required, since each worker is running models serially, and it _ought_ to be able release the memory it used after each task. However, there might be something funny with `clustermq` which could be causing the workers to hog memory as time goes on?

Similar

[2022-01-26 20:50] hcorson-dosch-usgs commented on #17
One interesting thing --- just checked the intermediary output files in `2_run/tmp` where the GLM output (including burn-in/out) is written, and 179 files there _were not_ overwritten by this latest re-run of the model, which means they had successfully run in earlier attempts with fewer total model runs and glm `3.1`, but failed in this go-round.

[2022-01-26 20:53] lindsayplatt commented on #2
`targets` wouldn't be storing any files for the objects created _within_ a function to build a target, but it does save files for each target + branch. I've been digging into garbage cleanup for a different project and memory allocation issues I'm having with a really big dataset. [R should be cleaning up anything it doesn't need on a function's exit](http://adv-r.had.co.nz/memory.html#gc), but ma

[2022-01-27 21:53] wdwatkins commented on #2
This is from several years ago when I was running a smaller number of models in parallel on Yeti with an older GLM version, but might might still be relevant.  In that case, the bottleneck turned out to be disk I/O—the GLM code itself seemed to not write to disk very efficiently (I think constantly writing small bits of output rather than accumulating larger chunks to write all at once).  So the m

[2022-01-27 23:16] hcorson-dosch-usgs commented on #5
Quick update here. @jesse-ross just pushed what is hopefully a fixed version of GLM `3.2.0a3` to docker - it is called `jrossusgs/glm3r:v0.6_GLM_3.2.0a3_bugfix`. Thanks, Jesse! I'll give it a try when I next get an allocation on Denali.

[2022-01-27 23:24] jesse-ross commented on #5
For the record, that bugfix build is defined [here](https://github.com/jesse-ross/glm3r_docker/blob/v3.2.0a3/Dockerfile). For each of the libraries, I used the most recent commit which was prior to the bugfix commits to GLM and libplot. If we start using the container in production then I think we ought to move the container definitions into the main repo, but since we're still testing things it s

[2022-01-28 01:04] jesse-ross commented on #2
I like this idea! Especially since from what @hcorson-dosch and I were seeing, it looks like we are most likely IO-bound here.

The login nodes on denali each have 94 GB of user-writable RAM-backed temp space in `/dev/shm/`. That ought to be a lot faster than even private local disks would be, especially when dealing with a ton of concurrent writes, and it should be plenty of space to use for

1.

[2022-01-28 15:17] hcorson-dosch-usgs commented on #17
Currently we're seeing failures for lakes that span many more than 4 cells, but for reference, for future debugging, the [four GCM cellls with NA values](https://github.com/USGS-R/lake-temperature-model-prep/pull/276#issuecomment-1013264491) are `c(17909, 18126, 18127, 18993)`.

[2022-01-28 15:26] hcorson-dosch-usgs commented on #17
Jordan and I did more testing yesterday and hit some inconsistencies w/ the GLM runs – Jordan and I have each run some test models for 1 model run (`nhdhr_105567868`, 1980-1999, ACCESS) locally and on Denali, and we’re seeing some inconsistent results:
  * Failed on Denali with version 3.1
  * Failed on Denali with version 3.2.0a8
  * Failed on Hayley’s windows machine with version 3.1.0a4
  * Suc

[2022-01-28 16:47] hcorson-dosch-usgs commented on #17
Alright! Re-ran the 959 models that had failed in the Denali GLM `3.2.0a8` run of all 64,494 model runs using the new code that resamples the hypso to 1m intervals (and still GLM version `3.2.0a8`​​​​​​​). 806 of those 959 model runs now succeeded! 153 still failed. I'll dig into the results more now.

[2022-01-28 17:04] hcorson-dosch-usgs commented on #17
K digging more into the results for the latest run of 959 model runs (that had all previously failed) with the new code to resample the hypso. There were 153 failed runs, across 32 lakes:
[code]
Looking closer at lakes with <18 failed model runs:
[code]
And then the `max_output_date` and `glm_code` for the 7 lakes with failure of all 18 model runs:
[code]

So for lakes with only a single failed  m

[2022-01-28 17:56] hcorson-dosch-usgs commented on #17
Okay Jordan reviewed and we checked the `output.nc` file for a model run with `max_output_date` = NA and `glm_code` = 0.

To check the `max_output_date` in the execution script, I'd been using
[code]
Turns out, according to Jordan:

of course you will later be dealing with the second issue when extracting temperature...but one thing at a time
I'd use wind/evap/precip, anything that isn't a 2D vari

[2022-01-31 17:40] hcorson-dosch-usgs commented on #17
Final update for now. The above approach fixed the issue w/ getting the `max_output_date`, which is great, but then `glmtools::get_temp()` threw an error when the code hit the step to [extract the model output](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run/src/run_glm3.R#L54). This was causing a silent error in that it wasn't reflected in our export tibble, as it occurr

[2022-01-31 19:22] jordansread commented on #17
Nice! Depending on what is going on with those models that fail `get_temp()`, those still may end up being failures of the model in that the outputs are unrealistic and not usable, but we'll know more later.

[2022-02-01 17:49] hcorson-dosch-usgs commented on #5
I tried pulling the new image to Denali on 1/27, and got an error:
![image](https://user-images.githubusercontent.com/54007288/152065130-f0732f03-2025-468a-821a-9d7e498c1d42.png)
At the time I was also getting an error trying to pull the docker image for `3.2.0a8`, which I had pulled previously:
![image](https://user-images.githubusercontent.com/54007288/152065070-3af1551d-e913-47cc-93d4-971738f68

[2022-02-01 18:50] jesse-ross commented on #2
A little bit more research on denali's capacities shows that there is also "DataWarp" [burst buffer available](https://hpcportal.cr.usgs.gov/hpc-user-docs/Denali/DataWarp.html). This involves a tiny bit more overhead to set up, and wouldn't be as fast, but it is officially supported and likely fast enough, and therefore probably the better way to go if we decide we need to optimize I/O.

[2022-02-02 00:27] hcorson-dosch-usgs commented on #17
@jread-usgs - if we do another full model run (all 64494 models), are we okay with running all of the models again with the inclusion of the code to resample the hypso to 1-m intervals, or would we prefer to not overwrite the initial results for the 63,535 model runs that succeeded with the original hypsography?

After those initial 63,535 models ran, our additional runs of the 959 failed runs led

[2022-02-02 00:51] hcorson-dosch-usgs opened #18 "Inspect initial model results"
Alright, in order to start looking at some of the results for the model runs that did succeed, I've pulled down GLM output for 5 lake-gcm combos (15 model runs in all). These results are from the [latest full run using version 3.2.0a8 that finished on 1/26/22](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1022405070):
[code]
As a start, I put together plots of GLM

[2022-02-02 17:07] hcorson-dosch-usgs commented on #17
Just adding a note that I realized we could put in a workaround to avoid rebuilding everything, if  need be, and still generate the output files. I saved the output tibble (`p2_glm_uncalibrated_runs`) from that big run as a .csv, so could load it in as a target and go from there, I'm _pretty_ sure. And I can easily re-run those 959 to regenerate `p2_glm_uncalibrated_runs` for those and then the ou

[2022-02-03 12:22] jordansread commented on #18
Great! I think the one additional thing that would help is an indicator of ice/no ice. Perhaps just a different plot marker at 0° when there is ice would be a simple way to get that info in there?

[2022-02-03 17:20] hcorson-dosch-usgs commented on #17
Pending resolution of the [remaining oddities with the GCM data](https://github.com/USGS-R/lake-temperature-model-prep/issues/273), which may lead to more re-runs of the models, I'm going to go ahead and generate more output files for the runs that have succeeded so that I can take a look at more of the initial output. I'll use the `2_run/tmp/p2_glm_uncalibrated_runs_20220126.csv`  I saved from th

[2022-02-04 22:51] hcorson-dosch-usgs commented on #18
Okay I've put a series of plots [here](https://doimspp.sharepoint.com/sites/IIDDStaff/Shared%20Documents/Project%20-%20Modeling%20Lakes/GLM/lake-temperature-process-models/Initial_plots_20220204)

For 10 lakes we have plots of surface, middle, and bottom predictions averaged across 20-year periods, across all GCMs:
![20yr_preds_nhdhr_166867643](https://user-images.githubusercontent.com/54007288/15

[2022-02-04 22:57] hcorson-dosch-usgs commented on #2
@jesse-ross - It's looking like I'll be running the models again early next week, since Lindsay is pulling updated data now. You note that setting up the "DataWarp" burst buffer would take a bit more overhead to set up. Do you have a rough estimate of how long it would take to set up, and would you have any availability to help me get that set up early next week?

[2022-02-05 02:58] jesse-ross commented on #2
@hcorson-dosch I think we could definitely test it out next week! The work would involve

1. Estimating the total highs-speed scratch space storage needs,
2. Getting comfortable with requesting the necessary DataWarp resources through slurm and accessing them in the script, and
2. Doing the actual changes to the pipeline to make it use this resource. It looks to me like we'd be using what they des

[2022-02-07 15:50] hcorson-dosch-usgs commented on #5
Update - was just able to pull the new image (`jrossusgs/glm3r:v0.6_GLM_3.2.0a3_bugfix`)!

[2022-02-07 16:44] hcorson-dosch-usgs commented on #5
Hmm I'm confused. If I try to build the `p2_glm_uncalibrated_runs` target with `3.2.0a3`, the targets all seem to error (`targets` error, _not_ an error caught by our `tryCatch()` statements):
[code]

But then I tested a few failed runs directly, and got mixed results. We aren't seeing that `Unknown flag --no-gui` error we were previously, which is good, but odd that both models _did_ run, yet one

[2022-02-07 20:40] hcorson-dosch-usgs commented on #17
I know this will shortly be irrelevant, as Lindsay pulled the new data and we will be re-running the models, but I wanted to quick check to see if runs associated with the [4 NA cells](https://github.com/USGS-R/lake-temperature-model-prep/pull/276#issuecomment-1024351352) are consistently failing or succeeding.

It's looking pretty inconsistent. Here's the breakdown of runs associated with those c

[2022-02-07 22:28] hcorson-dosch-usgs commented on #2
Okay working toward (1)

Right now, we're storing the GLM associated files for each run to a simulation directory specific to that run. If the model run is successful, we pull out the temperature data, save that to a different directory, and delete the simulation directory. My thinking, at the moment, is that within each call to [`run_glm3_model()`](https://github.com/USGS-R/lake-temperature-proce

[2022-02-07 22:43] jesse-ross commented on #2
Nice! I think that sounds great. Denali has 46 TB of this space altogether, so we can ask for some extra (maybe 10 GB) and feel confident we've got pretty good padding without being greedy.

[2022-02-07 22:47] jordansread commented on #2
This seems reasonable. If helpful, I think GLM outputs scale predictably based on number of timesteps in the output (we do one per day) and the "max_layers" param in the .nml, since GLM populates those regardless of whether they are wet or dry.

So for every year and every 100 layers, your file grows by ~2.9MB.

[2022-02-09 01:41] hcorson-dosch-usgs commented on #2
Summary of latest run of 64,494 models
| p1_lake_cell_xwalk_df indices      | n_lakes      | n_runs | GLM version | `retry()` max_tries | n_succeeded | n_failed | build duration (min) | runs per minute | build_time_s | attempt_time_s | retry_time _s | glm_time _s |
| ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ----------- | ------

[2022-02-09 02:06] hcorson-dosch-usgs commented on #2
I did have the vmstat tracking going during that run, so will take a look at that data tomorrow.

[2022-02-09 20:49] lindsayplatt opened #20 "Package up GLM outputs to share for use in the next couple of weeks"
We talked about creating a zip file of individual lake feathers per tile

[2022-02-09 20:52] jordansread commented on #20
Sounds good for an interim (and maybe final?) solution, but I'd like the opportunity to revisit this before it becomes a final decision for a data release. I could weigh in here for my reasoning on that, but am not doing so now because it seems like a detour on current priorities and sharing with our internal collaborators (Gretchen et al) can be well served with the current plan.

[2022-02-09 20:54] hcorson-dosch-usgs commented on #20
I'm thinking about how to set up the dependency tracking to create these zip files, and my initial thinking was that it might make sense to go the tibble route (with data hash) for the [output feather file targets](https://github.com/hcorson-dosch/lake-temperature-process-models/blob/main/2_run.R#L29-L37), since we'll only want to package up those that succeed (some will fail b/c the failed runs w

[2022-02-09 20:55] lindsayplatt commented on #20
@jread-usgs the idea of using NetCDF-DSG for sharing is still on the table but not for our current timeline as you noted in a previous comment. I'll edit this issue name to make that clear. I was opening this mostly to create a space for @hcorson-dosch and I to troubleshoot some tricky pieces outside of MS Teams.

[2022-02-09 21:07] hcorson-dosch-usgs commented on #20
Shoot just realized that `cell_no` isn't included in the current [export tibble](https://github.com/hcorson-dosch/lake-temperature-process-models/blob/main/2_run/src/run_glm3.R#L152-L169) 😖, so that, like `tile_no` would require a rebuild 🤦‍♀️ but we could instead join the `lake_cell_tile_xwalk` using the lake ids.

[2022-02-09 21:49] lindsayplatt commented on #20
1. If we really wanted the `tile_no` and `cell_no` to be part of the export tibble, I think it would be worth a rebuild rather than coding in a workaround. Though, I think it might be OK to not have `tile_no` or `cell_no` in the export tibbles and join those in based on the lake id after. We may want to bundle the outputs differently in the future, so I think leaving that join as a step later woul

[2022-02-09 21:57] hcorson-dosch-usgs commented on #20
K I'm testing with a hybrid approach now, generating a tibble for `glm_uncalibrated_output_feathers` and then making a new grouped target that joins in `tile_no` based on lake id and groups by `tile_no`, so we'll see how that works.

👍 to catching any errors in the call to [combine the GLM output](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run/src/process_glm_output.R#L1

[2022-02-09 22:02] lindsayplatt commented on #20
After looking at [the target recipe](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run.R#L31-L36) and [the function called](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run/src/process_glm_output.R), I don't see where this limitation is being enforced?  I think we can use `glm_success` for the groups to not package up a lake-gcm if any of the combos

[2022-02-09 22:07] hcorson-dosch-usgs commented on #20
Right now it's done indirectly, b/c if a run has failed it has `NA` for `export_fl`, which then triggers an error when we try to [read that file in](https://github.com/USGS-R/lake-temperature-process-models/blob/main/2_run/src/process_glm_output.R#L28), which then means the target fails. Definitely cleaner to switch to `filter(all(glm_success))`, so will switch to that.

[2022-02-09 22:10] lindsayplatt commented on #20
Ahhhhhhhhh ok, hence you needing `error = "continue"` and not being able to `tar_load(p2_glm_uncalibrated_output_feathers)` after building. Yes, I think we want to do some of our own filtering ahead of time to prevent that error with NA rather than let `error = "continue"` be part of our workflow for known issues.

[2022-02-10 01:23] hcorson-dosch-usgs commented on #17
From the [latest full model run](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1033243751)

Just took a look at the 391 failed runs, and pulled the mean lake depths for different sets of failed runs. I was wondering if having the [resampling code](https://github.com/hcorson-dosch/lake-temperature-process-models/blob/resample_hypso/1_prep/src/munge_nmls.R#L59-L74)

[2022-02-10 16:23] hcorson-dosch-usgs opened #22 "Current passing of nmls as single object triggers unnecessary rebuilds w/ change to lake ids vector"
I noticed while working with a subset of [`p1_lake_cell_tile_xwalk_df`](https://github.com/USGS-R/lake-temperature-process-models/blob/main/1_prep.R#L16-L19) to test code to package up the GLM output (#20, #21) that if I added a new site_id _after_ having run the models for the existing subset of lakes, that _all_ of the models rebuilt, which is definitely not the behavior we want. After digging a

[2022-02-10 18:41] #20 closed, assigned to nobody

[2022-02-10 20:14] hcorson-dosch-usgs commented on #23
See convos [here](https://github.com/USGS-R/lake-temperature-process-models/issues/17#issuecomment-1024472401) about the errors we were seeing

[2022-02-10 23:54] jesse-ross commented on #5
@hcorson-dosch Just now seeing this - yuck! I wonder if there might be something wrong with the build. I tried to use the versions of all of the dependencies that would have been current at the time that it was committed, but possibly the person who compiled/tested it might have had some older versions.

I am not sure what to try next. Two thoughts come to mind.
1. I'm not clear about the status o

[2022-02-11 00:04] hcorson-dosch-usgs commented on #5
Yes the `3.2.0a8` image does work, which is great. I think (and @jread-usgs correct me if I'm wrong), we were interested in running `3.2.0a3` a) because Jordan used it for the projections work he did last summer and b) Jordan has previously seen issues with the latest dev versions of GLM, so thought it would be worth testing with the older `3.2.0a3` to see if it resolves any of the [run failures](

[2022-02-11 00:08] hcorson-dosch-usgs commented on #17
Feedback from Jordan, referencing tests he ran for model run `nhdhr_114336097_ACCESS_2080_2099`:

But again, that's only from looking at one lake and I haven't done anything systematic in digging in. Just wanted to bring that up in case you are seeing it too.

It looks like that model run did _not_ fail this time around, so I'm going to look at some results for other lakes to see if something simi

[2022-02-11 00:44] hcorson-dosch-usgs opened #25 "Remove resampling code"
We PR'd an initial bandaid attempt to resample the hypso to 1-m intervals in #24, based on exploration of failed runs in #17 and subsequent testing that generated [additional successful runs](https://github.com/USGS-R/lake-temperature-process-models/issues/17#issuecomment-1024410663) with the fix in place. We may or may not want to revise this or remove it from the pipeline, depending on decisions

[2022-02-11 01:21] hcorson-dosch-usgs commented on #18
Plots for the same 10 sites generated with results from the [latest run](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1033243751) are [here](https://doimspp.sharepoint.com/:f:/r/sites/IIDDStaff/Shared%20Documents/Project%20-%20Modeling%20Lakes/GLM/lake-temperature-process-models/Plots_w_updated_grid_20220210?csf=1&web=1&e=XoNnhB)

[2022-02-11 02:23] hcorson-dosch-usgs commented on #2
Jesse took a look at the vmstat tracking for me (thanks, @jesse-ross!) and reports:

![image](https://user-images.githubusercontent.com/54007288/153528390-374f7a18-7baa-459a-8656-fbcbe13e295e.png)

[2022-02-11 16:30] lindsayplatt commented on #22
@hcorson-dosch when you link code lines, try using the main repo and not your fork first (unless necessary!). Those links in the last paragraph are broken because that branch no longer exists on your fork!

[2022-02-11 16:43] hcorson-dosch-usgs commented on #22
oh, shoot. thanks for the heads up! Will fix now

[2022-02-11 17:23] hcorson-dosch-usgs commented on #17
Did some digging into Jordan's theory yesterday and this morning, and there is definitely something funky going on with  some of the `3.2.0a8` runs on Denali.

I downloaded the simulation directories for 54/391 failed runs (one run per lake that failed), and generated plots of the model layers and ice cover during from the run. Then I re-ran those models locally, with version `3.1.0a4`. The `3.2.0

[2022-02-11 17:38] hcorson-dosch-usgs commented on #17
Hmm another lake with markedly different results between the two GLM versions:
| Run location | Layers | Ice | Hypso |
| -----| ----- | ----- | ----- |
| Denali | ![nhdhr_120020305_CNRM_2080_2099_Denali_layers](https://user-images.githubusercontent.com/54007288/153641012-900d06a6-12d8-4a2b-ac8a-717d667a00d4.png) | ![nhdhr_120020305_CNRM_2080_2099_Denali_ice](https://user-images.githubusercontent.c

[2022-02-11 21:53] hcorson-dosch-usgs commented on #17
In the interest of taking a look at ice cover for some successful runs, I selected three model runs that failed with `extraction_error` = `'NA values'`  and `glm_code`==`0` and were associated with lakes for which the other 17 runs (18 total per lake) succeeded. Those 3 runs are `nhdhr_114337077_GFDL_2080_2099` , `nhdhr_114539873_GFDL_1980_1999` and `nhdhr_114545137_ACCESS_1980_1999`.

Here are th

[2022-02-14 21:55] jesse-ross commented on #31
This repository has now been converted, and its default branch is now `main` instead of `master`. Please see above for instructions on how to adjust any forks and/or clones you have.

@hcorson-dosch, @lindsayplatt, @jread-usgs, @limnoliver, @jzwart, @aappling-usgs, please note that you have forks of this repository!

[2022-02-15 22:01] hcorson-dosch-usgs commented on #27
Note: we will want to merge this in before the next full model run

[2022-02-23 17:46] hcorson-dosch-usgs opened #28 "Set up GLM code to use "DataWarp" burst buffer for GLM I/O operations"
### **Note: I'm pulling this discussion (previously in #2) out into a new issue, since it's now a defined task, but this is currently _TABLED_ until we progress further on other higher priority tasks for the GLM modeling work**

_____________________________________________________________

During the last [full run of all 64,494 models](https://github.com/USGS-R/lake-temperature-process-models/is

[2022-02-25 18:52] #22 closed, assigned to hcorson-dosch-usgs

[2022-02-28 17:22] hcorson-dosch-usgs opened #31 "Get GLM output into netCDF DSG format"
Currently the GLM output is being [stored in feather files](https://github.com/USGS-R/lake-temperature-process-models/blob/main/3_extract.R#L7-L11), with one feather file per lake-gcm combo (6 files per lake). For sharing on [sciencebase](https://www.sciencebase.gov/catalog/item/6206d3c2d34ec05caca53071), we are currently (per #20) zipping these feather files together by tile number (4 zip files i

[2022-03-01 14:54] lindsayplatt commented on #18
@hcorson-dosch I think our job here for inspecting initial successful results is complete? Do you want to do the honors of closing??

[2022-03-01 14:57] lindsayplatt commented on #2
@hcorson-dosch I believe we can call this complete, right? We have the approach working and additional work or optimization ideas are called out in separate tasks.

[2022-03-01 15:10] lindsayplatt opened #32 "Run GLM models using updated NA cell fix"
Following https://github.com/USGS-R/lake-temperature-model-prep/issues/296 and https://github.com/USGS-R/lake-temperature-model-prep/pull/309, we will have new driver data for some of the cells that previously had missing data. We will need to incorporate these and the new lake cell xwalk into this repo and re-run the GLM models.

[2022-03-01 15:19] lindsayplatt opened #33 "Switch code to use driver data from NetCDF not feathers"
Hayley had already added some of these steps (see commented code [here](https://github.com/USGS-R/lake-temperature-process-models/blob/main/1_prep.R#L27-L42)) but we originally moved forward without doing this.

[2022-03-01 15:27] hcorson-dosch-usgs commented on #18
@lindsayplatt I don't think Jordan has reviewed any of this yet, so I'd like to leave it open.

[2022-03-01 16:24] lindsayplatt commented on #18
If that's the case, I think he needs to be assigned this issue and tagged so that he knows we are waiting on him. I feel like he might not be aware of that.

[2022-03-01 16:58] hcorson-dosch-usgs commented on #18
@jread-usgs - if you wanted to review the plotted results from the [latest run](https://github.com/USGS-R/lake-temperature-process-models/issues/2#issuecomment-1033243751), they are [here](https://doimspp.sharepoint.com/:f:/r/sites/IIDDStaff/Shared%20Documents/Project%20-%20Modeling%20Lakes/GLM/lake-temperature-process-models/Plots_w_updated_grid_20220210?csf=1&web=1&e=XoNnhB)

[2022-03-01 17:44] hcorson-dosch-usgs commented on #31
Issue submitted [here](https://github.com/USGS-R/ncdfgeom/issues/85) asking if it would be within scope of `write_timeseries_dsg()` to add an option for a 3rd netCDF dimension (in our case, depth beneath the lake surface)

[2022-03-03 18:34] jordansread commented on #18
@hcorson-dosch I've taken a look at these and they look good to me. But given the small % subset from the total, I don't feel comfortable signing off on these normal looking patterns applying to other lakes. I think it is useful to have these detailed plotting available when we hone in on a problem lake, but seems we'll need an alternative set of diagnostic metrics and/or plots to help us see if t

[2022-03-03 20:19] hcorson-dosch-usgs commented on #18
Yes, I agree. I'll put it on my list to generate some more diagnostic plots and metrics.

[2022-03-03 20:24] hcorson-dosch-usgs commented on #24
@lindsayplatt FYI I did make that issue - #25

[2022-03-03 20:30] hcorson-dosch-usgs commented on #17
@jread-usgs - In case you hadn't seen these plots digging a bit into the weird layers/ice formation results we were seeing for some model runs ^

[2022-03-03 21:07] jordansread commented on #17
I've run into a lot of funky things with GLM, but am not familiar with the case where models with the same version, same nml, and same inputs fail sometimes but not others. Or at least that isn't coming to mind as something I've seen. Which makes me wonder if we're dealing with a funky hardware issue or something that intermittently impacts the model runs.

[2022-03-03 21:19] lindsayplatt opened #34 "Explore the sites with unusually high or low temps"
Holly was using our GLM output data and seeing some cases where the temperatures do not seem reasonable - 8 deg C in Dec, etc. She provided some examples of these weird data via Slack message in general on 3/3/2022. She also shared some figures in our 3/3/2022 meeting docs documenting some of these outliers. We should look into this more but some initial potential ideas for the cause:

- Using old

[2022-03-03 21:20] lindsayplatt commented on #34
Note that this is paused for the next week but logging as an issue so that we can return to this and find what we need easily.

[2022-03-03 23:21] lindsayplatt commented on #24
I think we can merge this one in since that is capture elsewhere. Maybe we never do it but at least it is documented

[2022-03-04 16:20] lindsayplatt commented on #27
I'm not as convinced about this reorder now. It's a bit of a coding work-around to handle it in lake-temperature-out but I am OK with that bc it feels like the appropriate grouping is actually how it currently is named. The downstream use-cases are for GCMs to be compared across each site rather than the sites compared across each GCM. Sorry for reverting this idea!

[2022-03-04 16:38] lindsayplatt commented on #26
Note that this one and #35 will likely end up with some merge conflicts due to changes in `zip_output_files()`.

[2022-03-22 17:08] hcorson-dosch-usgs commented on #32
Wait until #36 and [hypso code PR](https://github.com/USGS-R/lake-temperature-model-prep/pull/319) are merged in

[2022-03-22 17:09] hcorson-dosch-usgs commented on #34
Wait until #32 is complete

[2022-03-31 23:33] hcorson-dosch-usgs commented on #33
Addressed in #38

[2022-03-31 23:33] #33 closed, assigned to nobody

[2022-04-01 15:21] hcorson-dosch-usgs commented on #25
Hypso resampling code was [finalized in `lake-temperature-model=prep` repo](https://github.com/USGS-R/lake-temperature-model-prep/pull/319). As a result, the resampling code [in this pipeline](https://github.com/USGS-R/lake-temperature-process-models/blob/main/1_prep/src/munge_nmls.R#L56-L78) should be removed

[2022-04-04 22:15] #25 closed, assigned to hcorson-dosch-usgs

[2022-04-05 21:30] hcorson-dosch-usgs commented on #31
Starting to think about this again.

Variables:
* Water temperature (degC)
* ice (would not have same dims....)

Coordinates:
* latitude of lake centroid
* longitude of lake centroid

Dims:
* Site id (per approach used in lake surface temperature netCDFs)
![image](https://user-images.githubusercontent.com/54007288/161852041-4a897487-7c67-46aa-8abe-3e44f64f0b9a.png)
* time
* depth
* GCM? @jread-usg

[2022-04-07 15:27] #2 closed, assigned to nobody

[2022-04-07 15:32] lindsayplatt commented on #18
^ I believe we did this in #37. Thinking that we can call this issue closed generate specific ones if there is anything strange to dig into (as we did with #34)

[2022-04-07 15:38] lindsayplatt commented on #17
We are currently re-running after we made some changes to hypso (see https://github.com/USGS-R/lake-temperature-model-prep/issues/293) and took care of missing driver data (see https://github.com/USGS-R/lake-temperature-model-prep/issues/296). There were also some changes for what resources we are using to run this (see #40).

I propose we close this issue and comment on any additional failures/ch

[2022-04-07 15:55] #18 closed, assigned to jordansread

[2022-04-07 15:56] hcorson-dosch-usgs commented on #17
sounds good!

[2022-04-07 15:56] #17 closed, assigned to nobody

[2022-04-07 18:27] hcorson-dosch-usgs opened #41 "Bundle simulations when scale up to midwest"
When we scale up to the whole footprint, we should consider moving away from our current `targets` workflow where we have unique `targets` branch for each model simulation (18 branches per lake) toward an approach where we are bundling multiple simulations into a single branch.

Jordan notes:

I asked Jake _"Zwart, Jacob A didn't you run into some limits with # of branches?"_ and he weighed in:

[2022-04-07 20:08] jesse-ross commented on #30
This has been superseded by #40

[2022-05-09 16:33] hcorson-dosch-usgs commented on #31
Okay I regrouped w/ @jread-usgs on this, as it is again a priority.  Here are some notes:

### Re: how to group the output into netCDFs
* netCDF advantage = smaller file and easier to wield than zips (assuming coding competence)
* Have results for all GCMs in a single netCDF
* The spatial tiles were useful for scaling jobs, and packing up driver data, but aren't meaningful for packaging up results

[2022-05-17 16:22] hcorson-dosch-usgs commented on #32
Completed on 4/19/2022

[2022-05-17 16:22] #32 closed, assigned to nobody

[2022-05-24 17:00] hcorson-dosch-usgs opened #59 "Decide on binning/interpolation approach for matching predictions to observations"
See Jordan's note on the NLDAS surface evaluation PR [here](https://github.com/USGS-R/lake-temperature-process-models/pull/56#discussion_r880627199)

Our team is currently using two approaches to match predictions to observations:
1) Interpolate predictions to the depths of observations. The `5_evaluate` portion of this pipeline  uses this method, based on Alison's [depth-matching code](https://gi

[2022-05-31 22:02] hcorson-dosch-usgs commented on #41
I'm currently using Jake's grouping approach for the GCM runs -- grouping the 18 runs for each lake into a single branch -- [unmerged fork here](https://github.com/hcorson-dosch/lake-temperature-process-models/blob/test_batching/1_prep.R#L82-L98).

For reference -- Jake's setup of [group length](https://code.usgs.gov/wma/wp/reanalysis-gefs/-/blob/f9de83a3aee25876cc012c9f55af9cd4cda84d92/2_pull_dat

[2022-06-06 14:40] #41 closed, assigned to hcorson-dosch-usgs

[2022-06-07 17:48] padilla410 opened #66 "Looking for `lake_cell_tile_xwalk.csv` and `GCM_{gcm name}.nc` for MO models"
I am trying to find the following files:
* `7_drivers_munge/out/lake_cell_tile_xwalk.csv`
* `7_drivers_munge/out/GCM_{gcm name}.nc`

So that I can set up a file structure similar to the one outlined in this repo's `README.md`. I do not have them in my local copy of `lake-temperature-model-prep` nor was I able to find them on the google drive for `lake-temperature-model-prep`.

@hcorson-dosch do yo

[2022-06-07 17:58] hcorson-dosch-usgs commented on #66
Hi Julie - those files pertain _only_ to the _GCM portion_ of the workflow in this repo, which generates GLM predictions using GCM driver data for contemporary and future time periods (noted as 'future-casting' lake temperatures in our task sheet). Those files you listed above are used to match each lake to the correct GCM driver data.

Since you're working w/ NLDAS to hindcast temperatures in MO

[2022-06-07 18:03] padilla410 commented on #66
Great! Thank you!

[2022-06-07 18:03] #66 closed, assigned to nobody

[2022-06-24 16:59] AndyMcAliley commented on #59
After discussion, Hayley and I decided to take approach 1: interpolating predictions to match observation depths. Here's why:

1. The training set for the LSTM is formed by assigning observations to depth bins (nearest neighbor interpolation). If we evaluated the model by interpolating observations in the same way, then the model evaluation wouldn't account for the error introduced by that interpo

[2022-07-15 17:32] hcorson-dosch-usgs commented on #31
Ok - @lindsayplatt , @jread-usgs. I wanted to provide an update here of my progress before I'm out for two weeks. This has been a back-burner item for some months now, but I did make some significant progress when other sprint tasks were completed or blocked.

For both the GCM and NLDAS predictions, I've completed steps 1 - 4, 6, and 7 (see previous comment). I skipped step 5 b/c it was immediatel

[2022-07-18 20:35] lindsayplatt commented on #31
Great summary for capturing the current state of this work. Looking forward to chatting when you get back 🌴

[2022-07-25 19:53] lindsayplatt commented on #59
As shared via chat from Hayley on 7/15, she has changed the method in a branch on her fork here https://github.com/hcorson-dosch/lake-temperature-process-models/blob/extrapolate_preds/5_evaluate/src/eval_utility_fxns.R#L61-L77. I ran `tar_make_clustermq(p5_nldas_pred_obs_csv, workers=50)` on her `hayley_extrapolate_preds` branch on Tallgrass today (it took ~ 2 hrs to run). Then, compared the previ

[2022-08-02 20:49] hcorson-dosch-usgs commented on #59
Thanks so much for wrapping up that work and writing this summary, Lindsay! Should I go ahead and PR that branch, so that this method is used when we complete the updated GCM runs?

[2022-08-02 20:53] lindsayplatt commented on #59
Oh, yes! Please do! Watch out because the current `process-models` is on my branch for my 1.5 m/s test. You may need to `git stash` first before switching branches.

[2022-08-05 13:38] #59 closed, assigned to nobody

[2022-09-27 21:08] wdwatkins commented on #5
I was using this image in a model archive example, and to rebuild it I had to roll back a few commits for `libaed-water`, adding this line to the Dockerfile after the clone:

`cd libaed-water && git reset --hard df2f372916f79a3d573b54bb1ece551354c97680 && cd .. && \`

I see there are a few releases in that repo now, might be best to just clone one of those if this image is going to be used longer

[2022-09-27 23:23] jesse-ross commented on #5
At this point I'm guessing many of those libraries and packages will have moved along in various ways. If we want the build to be stable over time, and not just have a working image as an artifact of the time the build worked on 2022-06-15, we would probably want to fully specify the other stuff in addition to `libaed-water`, i.e.

* specify versions for the `apt-get` packages. The base `rocker/ge